{
    "printWidth": 180,
    "tabWidth": 2,
    "singleQuote": false,
    "trailingComma": "es5",
    "semi": false,
    "newline-before-return": true,
    "no-duplicate-variable": [
        true,
        "check-parameters"
    ],
    "no-var-keyword": true,
    "editorconfig": true
}
